/*********************/
/* Global */
/*********************/
﻿* {
   font-size: 'Helvetica-neue';
   box-sizing: border-box;
}


a {
  color: #3D4F9F !important;
}

p {
  color: #3D4F9F !important;
}

.greenbox {
    border: 2px solid green;
}

.redbox {
    border: 2px solid red;
}

#nextBtn {
  right: 100px;
    /* position: relative; */
  float: right;
  }

/*********************/
/* Search  Component */
/*********************/
h2.headline{
  font-size:42px;
  color: #3D4F9F;
  font-weight: 200;
  text-align: center;
}

.search-box{
  margin: 0 auto;
  padding: 25px;
}

input{
  border-radius: 10px;
}

li.search-result-card{
  -webkit-box-shadow: 2px 1px 11px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 11px -5px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 11px -5px rgba(0,0,0,0.75);
  padding: 12px;
  margin: 15px;
  border-radius: 13px;
}

li.search-result-card:hover {
    opacity: 0.8;
    zoom: 1.04;
}

ul.post-search-result {
    list-style: none;
}

svg.mark-star {
  width: 30px;
  height: 30px;
}


markPost:hover {
     0%  {-webkit-transform: rotate(0deg);}
     100% {-webkit-transform: rotate(360deg);}
}

.markPost {
    border: none;
}

/*********************/
/* Auth Component */
/*********************/

.auth-container {
    max-width: 650px;
    margin: 0 auto;
}

h1.headline{
    font-size:31px;
    color: #3D4F9F;
    font-weight: 200;
    text-align: center;
}

h3.headline_2 {
    ont-size: 31px;
    color: #3D4F9F;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    padding: 17px;
}

.auth-form{
    display: flex;
    flex-direction: column;
}

.inputs {
    border-radius: 13px;
    height: 39px;
    margin: 17px;
    box-shadow: 0 4px 7px 0 rgba(24,24,24,.16);
    border: none;
}

label {
    font-size: 19px;
    margin-left: 32px;
}

.auth-btns {
    display: flex;
    padding: 32px;
}

.signup-btn{
    width: 50%;
    height: 54.01px;
    background: #FFD7D7;
    border-radius: 2px;
}

.login-btn{
    height: 54.01px;
    width: 50%;
    background: #D2E1FF;
    border-radius: 2px;
}



/*********************/
/* Profile Component */
/*********************/


.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(545px, 2fr));
}


.left {
    margin: 13px;
}

.right{
    margin: 13px;
}
