
<div class="hero-image">
  <h1 class="headline"> Word cloud </h1>
  <br/>
  <h4 class="headline">Most Common Searched Words</h4>
  <div class="cloud-container">
  ﻿ <div id="cloud" >
    </div>
  </div>
         <div id="ellipse-left" class="ellipse" > </div>
         <div id="ellipse-right" class="ellipse" > </div>
         <div id="ellipse-left-top" class="ellipse" > </div>
         <div id="ellipse-right-top1" class="ellipse" > </div>
         <div id="ellipse-right-top2" class="ellipse" > </div>
         <div id="ellipse-right-top3" class="ellipse" > </div>
         <div id="ellipse-left-down1" class="ellipse" > </div>
         <div id="ellipse-left-down2" class="ellipse" > </div>
         <div id="ellipse-left-down3" class="ellipse" > </div>
         <div id="ellipse-left-down4" class="ellipse" > </div>
         <div id="ellipse-right-down1" class="ellipse" > </div>
         <div id="ellipse-right-down2" class="ellipse" > </div>
         <div id="ellipse-right-down3" class="ellipse" > </div>
  </div>



<!--
<div>
    <div>
        Word: <input data-bind="value: word"/>
    </div>
    <div>
        Weight: <input data-bind="value: weight"/>
    </div>
    <div>
        <button data-bind="click: addWord">Add</button>
    </div>
</div>
-->
