<div class="container">
      <div class="auth-container">

           <h1 class="headline">Stack Overflow <b>Viewer Application</b> </h1>

           <div class="inner-content">

               <div class="auth-breadcrum">
                   <h3 class="headline_2">Login/Signup</h3>
               </div>
               
               <form class="auth-form">
                    <label> Username </label>
                    <input id="username" class="inputs" type="text" />
                
                    <label>Password</label>
                    <input id="password" class="inputs" type="password" />

                   <div class="auth-btns">
                       <button id="signup" class="signup-btn"> Signup </button>
                       <button id="login" class="login-btn"> Login </button>
                   </div>
               </form>
           </div>
               
      </div>
</div>