<div class="container">
    <div>
        <h1 class="headline text-center">Profile</h1>
        <h2 class="welcome"></h2>
    </div>

    <div class="main-container">
        <div class="left">
            <h3>My Markings & Annotations</h3>
             <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Questions or Answers</th>
                    </tr>
                  </thead>

                  <tbody class="user-mark-annotations">

                  </tbody>
                </table>
        </div>

        <div class="right">
            <h3>Search History</h3>

            <div class="search-table-historic">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Keyword Phrase</th>
                    </tr>
                  </thead>

                  <tbody class="search-user-result">

                  </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
